.token {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    display: inline-block;
}
.token-little {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border-style:groove;
    border-color: black;
    display:flex;
}

#container{
    overflow:hidden;
    width:auto;
    display:inline;
}

.abc{
    float:right;
    margin-left:10px;
}

storytelling_tabs {
    width: 100%;
    background: #44c5e1;
    text-align: center;
  }
  storytelling_tabs h5 {
    color: #fff;
    font-size: 0.9em;
  }
  .tab .showMe {
    display: none;
  }
  .tab .showMe:target {
    display: block;
  }